<html>
<head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>
<body>
  <div class="container">
<h2> A Simple English App </h2>
<form action ="/addword" method="POST">
       <input class="input-add" type="text" name="newName" placeholder="add new name">        
       <input class="input-add" type="text" name="newTranslation" placeholder="add new translation">
       <button class="button-add"> Add Word </button>
</form>
<h2> View all words </h2>
<p><a href="/list">List</a></p>
<h2> Learn word </h2>
    <% var showTranslation = false; %>
    <% var randomNum = Math.floor((Math.random() * words.length)); %>
    <li><%= words[randomNum].name %> </li>
    <li style="color: white;">
        <%= words[randomNum].translation%>
    </li>
</div>
</body>
</html>
