<html>
<head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>
<body>
  <div class="container">
<h2> A Simple English App </h2>
<p><a href="/">Home</a></p>

<form method="POST">
    <h2> List words </h2>
    <% for( var i = 0; i < words.length; i++){ %>
 <li><input type="checkbox" name="values" value="<%= words[i].name %>,<%= words[i].translation %>" /> <%= words[i].name %> - <%= words[i].translation %></li>
 <% } %>
<button formaction="/removeword" type="submit"> Remove </button>
</form>
</div>
</body>
</html>